@import url("https://fonts.googleapis.com/css?family=Raleway");

body,
html {
  margin: 0;
  width: 100%;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: "Raleway", sans-serif;
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.container {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(242, 242, 242);
}
